.bottom-nav {
  padding: 1rem 1.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.bottom-nav .bottom-nav-items {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.bottom-nav .bottom-nav-items .bottom-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom-nav .bottom-nav-items .bottom-nav-item:hover {
  opacity: 0.875;
}

.bottom-nav .bottom-nav-items .bottom-nav-item .icon.active {
  color: var(--color-primary);
}

.bottom-nav .bottom-nav-items .bottom-nav-item .name.active {
  color: var(--color-dark);
  font-weight: 500;
}

.bottom-nav .bottom-nav-items .bottom-nav-item p {
  font-size: 0.75rem;
  margin: 0;
}
