.navbar {
  padding-inline: 1rem;
  padding-block: 1.5rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}

.navbar.active {
  background-color: #fff;
}

.notification-icons {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto;
}
