.home {
  background-color: var(--color-secondary);
  min-height: 100%;
}

.home .home__hero {
  height: 220px;
}

.home .home__main {
  background-color: #fff;
}
.home .notification-icons {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto;
}
